/*   Add custom variables for color     */
:root {
  --PALE-BROWN: #ede0d4;
  --PEACH: #e6ccb2;
  --TAN: #ddb892;
  --LIGHT-BROWN: #b08968;
  --CHOC-BROWN: #7f5539;
  --BROWN: #9c6644;
}

body {
  background-color: var(--PALE-BROWN);
}

h1,
h2 {
  text-align: center;
  color: #7f5539;
}

a {
  text-decoration: none;
}

#banner {
  width: 100%;
  border-radius: 25px;
}

/*    ABOUT SECTION     */
#about {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 400px;
  max-width: 900px;
  background-color: var(--TAN);
  border-radius: 18px;
}

#about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#description {
  width: 50%;
  padding: 30px;
}

#description p {
  text-align: justify;
  margin-left: 30px;
  margin-right: auto;
}

#description ol {
  margin-left: 30px;
}

#team {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#team img {
  border-radius: 6px;
}

/*   PRODUCTS ("Job Opportunities")   */
.item {
  color: blue;
}

/*    FOOTER     */
#footer {
  background-color: var(--TAN);
  padding: 8px;
  margin-top: 32px;
  /* NOTE: The text-align property (via centering and on the same line) works below because we declared the <li> elements as "display: inline". Otherwise the links would still be centered, but stacked vertically. */
  text-align: center;
}

#footer-links {
  list-style-type: none;
}

#footer-links li {
  display: inline;
  margin: 0 16px;
}

.copyright {
  color: gray;
}
