/*   Add custom variables for color     */
:root {
  --PALE-BROWN: #ede0d4;
  --PEACH: #e6ccb2;
  --TAN: #ddb892;
  --LIGHT-BROWN: #b08968;
  --CHOC-BROWN: #7f5539;
  --BROWN: #9c6644;
}

h1 {
  text-align: center;
  color: #7f5539;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
}

#banner {
  width: 100%;
}

/*    ABOUT SECTION     */
#about {
  display: flex;
  justify-content: space-between;
  border: 3px solid yellow;
  margin: 20px;
}

#about-wrapper {
  display: flex;
  justify-content: space-between;
  border: 3px solid green;
  margin-left: 50px;
  margin-right: auto;
}

#description {
  /* for seeing purposes */

  border: 2px solid blue;
  width: 50%;
}

#description p {
  /*
  margin-top: 30px;
  border: 2px solid red; */
}

#team {
  width: 50%;
}

#team img {
  border: 2px solid red;
  border-radius: 5px;
  /* NOTE: I used the margin: auto hack to center the img within the div. This works because the image has explicitly stated width (see html file) */
  margin: auto;
}

/*   PRODUCTS ("Job Opportunities")   */
.item {
  color: blue;
}

/*    FOOTER     */
#footer {
  background-color: var(--TAN);
  padding: 8px;
  margin-top: 32px;
  /* NOTE: The text-align property (via centering and on the same line) works below because we declared the <li> elements as "display: inline". Otherwise the links would still be centered, but stacked vertically. */
  text-align: center;
}

#footer-links {
  list-style-type: none;
}

#footer-links li {
  display: inline;
  margin: 0 16px;
}

.copyright {
  color: gray;
}
